body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.App {
  text-align: center;
}
.App .App-header {
  background-color: #222;
  height: 60px;
  padding: 10px;
  color: white;
}
.App .App-header h2 {
  margin: 0px;
}
.App .App-content {
  font-size: large;
  margin-bottom: 25px;
}
.App .App-content .form-container{
  margin-top: 100px;
}
.App .alert-danger {
  margin-left: auto;
  margin-right: auto;
  width: 480px;
}
.App .wellStyles {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.flex-item {
  padding: 20px;
  width: 300px;
  height: 50px;
  margin-top: 30px;
  font-weight: bold;
  text-align: center;
  color: black;
}
.collapse-error {
  padding: 5px;
  background: none;
  box-shadow: none;
  border: none;
  color: #a94442;
}
.plotName {
  padding: 10px;
  align-content: center;
  font: 10px black;
  margin: 40px auto;
  font-size: 30px;
  border: 1px solid black;
  background: lightgray;
  width: 750px;
}
.plotGraph {

}
